.main{
    width: 100%;
    height: 100vh;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/012/113/288/large/eric-_j-08213.jpg?1533108263);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
}
